.App {
  text-align: right;
}
.background{
  min-height: 100vh;
  text-align: center;
  background-size: 100% 100%;
}

h2{
  color: red;
  padding-top: 10px;
}

p{
  text-align: left;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:20px;
}
.nextPrev{
  margin-bottom:20px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
  border-radius: 8px;
  background-color: blue;
  border: 2px solid lightgreen;
  transition-duration: 0.4ms;
}

.nextPrev:hover{
  background-color: lightgreen; 
}

a{
  color: black;
}
a:hover{
  color: red;
}

img{
  float:right;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  left: 50%;
  margin-left:25%;
  padding-left: 16px;
  padding-right: 25%;
}
